In [2]:
import pandas as pd

In [3]:
data=pd.DataFrame({"text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],"output":[1,1,0,0]})

data.head()

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
BOW = CountVectorizer()

In [6]:
data['text']

0     people watch cricket
1    cricket watch cricket
2      people give comment
3     cricket give comment
Name: text, dtype: object

In [7]:
document_matrix = BOW.fit_transform(data['text'])

In [8]:
document_matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 11 stored elements and shape (4, 5)>

In [9]:
BOW.vocabulary_

{'people': 3, 'watch': 4, 'cricket': 1, 'give': 2, 'comment': 0}

In [11]:
document_matrix[0].toarray()

array([[0, 1, 0, 1, 1]], dtype=int64)

In [12]:
document_matrix.toarray()

array([[0, 1, 0, 1, 1],
       [0, 2, 0, 0, 1],
       [1, 0, 1, 1, 0],
       [1, 1, 1, 0, 0]], dtype=int64)

In [41]:
one_hot_encoder_df = pd.DataFrame(document_matrix.toarray(), columns=BOW.get_feature_names_out())

In [43]:
one_hot_encoder_df['output'] = data['output']

In [44]:
one_hot_encoder_df

   comment  cricket  give  people  watch  output
0        0        1     0       1      1       1
1        0        2     0       0      1       1
2        1        0     1       1      0       0
3        1        1     1       0      0       0

OHE

In [60]:
from sklearn.preprocessing import OneHotEncoder

In [85]:
data=pd.DataFrame({"text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],"output":[1,1,0,0]})

data.head()

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [86]:
encoder = OneHotEncoder()

In [87]:
encoded_text = encoder.fit_transform(data[['text']])

In [88]:
encoded_text.toarray()

array([[0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.]])

In [90]:
encoded_df = pd.DataFrame(encoded_text.toarray(), columns=encoder.get_feature_names_out())

In [91]:
encoded_df['output'] = data['output']

In [92]:
encoded_df.head()

,text_cricket give comment,text_cricket watch cricket,text_people give comment,text_people watch cricket,output
0,0.0,0.0,0.0,1.0,1
1,0.0,1.0,0.0,0.0,1
2,0.0,0.0,1.0,0.0,0
3,1.0,0.0,0.0,0.0,0

OHE with dummies

In [130]:
data=pd.DataFrame({"text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],"output":[1,1,0,0]})

data.head()

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [132]:
ohe_dummies = data['text'].str.get_dummies()

In [134]:
ohe_dummies['output'] = data['output']

In [135]:
ohe_dummies

,cricket give comment,cricket watch cricket,people give comment,people watch cricket,output
0,0,0,0,1,1
1,0,1,0,0,1
2,0,0,1,0,0
3,1,0,0,0,0

In [93]:
data=pd.DataFrame({"text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],"output":[1,1,0,0]})

data.head()

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [106]:
ohe = pd.get_dummies(data, columns=['text'], drop_first=True).astype(int)

In [107]:
ohe

,output,text_cricket watch cricket,text_people give comment,text_people watch cricket
0,1,0,0,1
1,1,1,0,0
2,0,0,1,0
3,0,0,0,0

BiGram

In [110]:
from sklearn.feature_extraction.text import CountVectorizer

In [112]:
data=pd.DataFrame({"text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],"output":[1,1,0,0]})

data.head()

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [111]:
bigram = CountVectorizer(ngram_range=(2,2))

In [119]:
bigramvocab = bigram.fit_transform(data['text'])

In [120]:
bigram.vocabulary_

{'people watch': 4,
 'watch cricket': 5,
 'cricket watch': 1,
 'people give': 3,
 'give comment': 2,
 'cricket give': 0}

In [122]:
bigramvocab.toarray()

array([[0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 0, 1, 1, 0, 0],
       [1, 0, 1, 0, 0, 0]], dtype=int64)

In [123]:
trigram = CountVectorizer(ngram_range=(3,3))

In [124]:
trivocab = trigram.fit_transform(data['text'])

In [125]:
trigram.vocabulary_

{'people watch cricket': 3,
 'cricket watch cricket': 1,
 'people give comment': 2,
 'cricket give comment': 0}

In [126]:
trivocab.toarray()

array([[0, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0]], dtype=int64)

Mix pair

In [127]:
mix = CountVectorizer(ngram_range=(1,2))

In [128]:
mix_vocab = mix.fit_transform(data['text'])

In [129]:
mix.vocabulary_

{'people': 6,
 'watch': 9,
 'cricket': 1,
 'people watch': 8,
 'watch cricket': 10,
 'cricket watch': 3,
 'give': 4,
 'comment': 0,
 'people give': 7,
 'give comment': 5,
 'cricket give': 2}